{% extends "base.html" %}
{% block content %}

{% load static %}
<link rel = "stylesheet" type="text/css" href = "{% static 'aboutMe/style.css' %}">

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />

<!-- Header Section -->
  <div class="myContainer">
    <div class="row">
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-lg-5" href="#">KAELKY</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{github_url}}"><i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{instagram_url}}"><i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{facebook_url}}"><i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{linkedin_url}}"><i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
  </div>
      <!-- Page Header Section -->
  <div class = "myContainer">
    <div class = "myHome">
      <div class="myHomeContent">
        <div class="row">
          <div class="col-lg-6">
            <div class="profile_image">
              <img src = "{% static 'aboutMe/images/Ricky Chandra Johanes.JPG' %}" width="759px" height="430px">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="perkenalan"> Hello! I'm <span class="highlight bold"> {{name}}</span> </div>
            <div class="brief_description">
              I am currently studying at the <span class="bold underlined"> Faculty of Computer Science, Universitas Indonesia. </span>
            </div>
            <div class="description">
              {{description}}
            </div>
            <div class="findMe">
              I was born at <span class="highlight bold underlined"> {{birth_place}}</span> and I am <span class = "underlined bold">{{age_year}} years old now</span>.
            </div>
            <div class="description">Everyone must have fallen. Everyone ever feel pain. Whatever our job, our activity, our environment, our degree, our culture, I believe that <br/>
              <span class="motto">"{{life_motto}}"</span><br/>
              <hr>
              My Realtime Age : {{age_year}} year(s) {{age_month}} month(s) {{age_day}} day(s)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<footer class="page-footer cyan darken-3">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 py-5">
        <div class="footer-copyright text-center py-3">
          © 2019 Ricky Chandra Johanes
        </div>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
