.account {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  margin-top: 12px;
}

.bold {
  font-weight: bold;
}

.brief_description {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  font-family: 'Raleway', sans-serif;
}

.description {
  font-size: 1.2rem;
  margin-top: 1 rem;
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

.findMe {
  font-family: 'Raleway', sans-serif;
  font-size: 2.0rem;
  margin-top: 50px;
}

.footer-copyright{
  font-size: 1.5rem;
  margin-top: 0.25rem;
}

.highlight {
    color: #1976D2;
}

.motto {
  font-size: 2rem;
  color: #1976D2;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  position: relative;
  justify-content: center;
  text-align: center;
}

.myContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  width: 100%;
}

.myFooter {
  text-align: center;
  align-self: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #424242;
}

.myHome {
  align-items: center;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction:
  position: relative;
  justify-content: center;
  min-height: 60%;
  min-width: 100%;
}

.myHomeContent {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  margin-left: 0;
  margin-right: 0;
}

.perkenalan {
  font-size: 3rem;
  margin-top: 2rem;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
}

.profile_image {
  position: relative;
  margin-left: 50px;
  margin-top: 3rem;
}

.underlined {
  text-decoration: underline;
}
